# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# mystuff
/acme2certifier/
db.sqlite3
/manage.py
acme_srv/migrations/
acme_srv/admin.py
acme_srv/apps.py
acme_srv/models.py
acme_srv/tests.py
acme_srv/urls.py
acme_srv/views.py
# acme_srv/__init__.py
commands.txt
*.bat
*.db
acme_srv/*.pem
acme_srv/cmp/*.pem
acme_srv/cmp2/*.pem
acme_srv/cmp/tmp/*.pem
acme_srv/est-myca/*.pem
acme_srv/est/*.pem
acme_srv/msca/*.pem
test/ca/foo-ca-crl.pem

*.csr
*.old
acme/*.my
/acme2certifier_wsgi.py
env.txt
gna.py
acme_srv/db_handler.py
acme_srv/ca_handler.py
acme_srv/certifier_ca_handler.py
acme_srv/acme_srv.cfg
acme_srv/wsgi_handler.py
acme_srv/django_handler.py
acme_srv/a2c_response.py
acme_srv/ca/*
acme_srv/xca/*
acme_srv/acme/*
acme_srv/cn_dump/*
acme_srv/fixture
*.dll
acme_srv/cmp/WindowsCMPOpenSSL/openssl.exe
acme_srv/migrations.old
# Docker data content
examples/Docker/data/*
!examples/Docker/.env
# acme/
acme_srv/acme_srv.db.old.*
*.cfg
*.pub
*.private
settings.json
coverage.lcov
