setuptools
jwcrypto
cryptography
pyOpenssl
dnspython
certsrv[ntlm]
pytz
configparser
python-dateutil
requests
pysocks
josepy
acme
xmltodict
pyasn1
pyasn1_modules
requests_pkcs12
requests_gssapi
gssapi
pyyaml
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
