[Unit]
Description=uWSGI instance to serve acme2certifier

[Service]
RuntimeDirectory=uwsgi
WorkingDirectory=/opt/acme2certifier
ExecStart=uwsgi --ini acme2certifier.ini
Restart=always
Type=notify
NotifyAccess=all
User=nginx

[Install]
WantedBy=multi-user.target
