name: Deployment Tests - Debian Packages
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run the workflow on'
        required: true
        default: 'main'
      run_id:
        description: 'Run ID of the producing workflow'
        required: true
        default: '0'
      sha:
        description: 'SHA of the commit to run the workflow on'
        required: true
        default: ''
      called_by_workflow:
        description: 'Name of the producing workflow'
        required: true
        default: 'manual-trigger'
      full_ref:
        description: 'Full git ref of the commit to run the workflow on'
        required: false
        default: ''

jobs:

  # ---------------------------------------------------------
  # Quick guard to validate incoming payload
  # ---------------------------------------------------------
  guard:
    runs-on: ubuntu-latest
    if: >
      ${{
        inputs.sha != '' &&
        inputs.run_id != '' &&
        inputs.branch != ''
      }} && github.repository == 'grindsa/acme2certifier'
    steps:
      - run: |
          echo "Triggered by SHA:    $SHA"
          echo "From branch:         $BRANCH"
          echo "Producer run_id:     $RUN_ID"
        env:
          SHA: ${{ inputs.sha }}
          BRANCH: ${{ inputs.branch }}
          RUN_ID: ${{ inputs.run_id }}

  # ---------------------------------------------------------
  # Test DEB downloaded from the producer run
  # ---------------------------------------------------------
  test-deb:
    needs: guard
    runs-on: ubuntu-latest
    if: github.repository == 'grindsa/acme2certifier'
    strategy:
      fail-fast: false
      matrix:
        websrv: ['apache2', 'nginx']
        execscript: ['deb_tester.sh','django_tester.sh']

    steps:
      - name: "checkout GIT"
        uses: actions/checkout@v4

      - name: "Parse NCLM configuration from JSON secret"
        uses: ./.github/actions/parse-json-secret
        with:
          json_secret: ${{ secrets.NCLM_CFG }}

      - name: "Prepare Ubuntu environment"
        if: matrix.execscript == 'deb_tester.sh'
        uses: ./.github/actions/deb_prep
        with:
          DEB_BUILD: false

      - name: "Prepare Ubuntu environment"
        if: matrix.execscript == 'django_tester.sh'
        uses: ./.github/actions/deb_prep
        with:
          DEB_BUILD: false
          DJANGO_DB: psql

      - name: "Download DEB artifact by name from build run"
        uses: ./.github/actions/download_artifact
        with:
          RUN_ID: ${{ inputs.run_id }}
          ARTIFACT_NAME: acme2certifier-${{ inputs.run_id }}-1_all.deb
          DESTINATION_PATH: data/
          TOKEN: ${{ secrets.GH_WF_TOKEN }}
          REPO: ${{ github.repository }}

      - name: "Retrieve Version from version.py"
        run: |
          echo TAG_NAME=$(cat acme_srv/version.py | grep -i __version__ | head -n 1 | sed 's/__version__ = //g' | sed s/\"//g) >> $GITHUB_ENV

      - name: "Prepare acme_srv.cfg with openssl_ca_handler"
        run: |
          mkdir -p data/volume/acme_ca
          sudo mkdir -p data/volume/acme_ca/certs
          sudo cp test/ca/sub-ca-key.pem test/ca/sub-ca-crl.pem test/ca/sub-ca-cert.pem test/ca/root-ca-cert.pem data/volume/acme_ca/
          sudo cp .github/openssl_ca_handler.py_acme_srv_choosen_handler.cfg data/volume/acme_srv.cfg
          sudo sed -i "s/examples\/ca_handler/\/var\/www\/acme2certifier\/examples\/ca_handler/g" data/volume/acme_srv.cfg
          sudo sed -i "s/volume/\/var\/www\/acme2certifier\/volume/g" data/volume/acme_srv.cfg

      - name: "Execute install scipt"
        run: |
          docker exec acme-srv bash /tmp/acme2certifier/$EXECSCRIPT install $WEBSRV
        env:
          WEBSRV: ${{ matrix.websrv }}
          EXECSCRIPT: ${{ matrix.execscript }}

      - name: "Test enrollment"
        uses: ./.github/actions/acme_clients

      - name: "[ * ] collecting test logs"
        if: ${{ failure() }}
        run: |
          mkdir -p ${{ github.workspace }}/artifact/upload
          docker exec acme-srv tar cvfz /tmp/acme2certifier/a2c.tgz /var/www/acme2certifier
          sudo cp -rp data/ ${{ github.workspace }}/artifact/data/
          sudo rm ${{ github.workspace }}/artifact/data/*.deb
          if [ ${{ matrix.websrv }} == "apache2" ]; then
            docker exec acme-srv cat /var/log/apache2/error.log > ${{ github.workspace }}/artifact/acme-srv.log
          else
            docker exec acme-srv cat /var/log/nginx/error.log > ${{ github.workspace }}/artifact/acme-srv.log
          fi
          docker exec acme-srv cat /var/log/syslog > ${{ github.workspace }}/artifact/syslog
          sudo tar -C ${{ github.workspace }}/artifact/ -cvzf ${{ github.workspace }}/artifact/upload/artifact.tar.gz data acme-srv.log syslog

      - name: "[ * ] uploading artificates"
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: test-deb-${{ matrix.websrv }}-${{ matrix.execscript }}.tar.gz
          path: ${{ github.workspace }}/artifact/upload/
