# workflow to run the acme2certifier unittest suite

name: Python Tests

on:
  push:
  pull_request:
    branches: [ devel ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 2 * * 6'
jobs:
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: [3.x, 3.8, 3.7, 3.6]
    name: Python Unittest (${{ matrix.python_version }})
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: cp
      run: |
         cp examples/ca_handler/skeleton_ca_handler.py acme_srv/ca_handler.py
         cp examples/acme_srv.cfg acme_srv/
    - name: Python test
      run: |
        pytest
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: [3.x, 3.8]
    name: Pylint test (${{ matrix.python_version }})
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint pylint-exit
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: cp
        run: |
          cp examples/ca_handler/skeleton_ca_handler.py acme_srv/ca_handler.py
          cp examples/db_handler/wsgi_handler.py acme_srv/db_handler.py
          cp examples/acme_srv.cfg acme_srv/
      - name: "Pylint folder: acme"
        run: |
          pylint --rcfile=".github/pylintrc" acme_srv/ || pylint-exit $?
      - name: "Pylint folder: tools"
        run: |
          pylint --rcfile=".github/pylintrc" tools/ || pylint-exit $?
      - name: "Pylint folder: examples/db_handler"
        run: |
          pylint --rcfile=".github/pylintrc" examples/db_handler/ || pylint-exit $?
      - name: "Pylint folder: examples/ca_handler"
        run: |
          pylint --rcfile=".github/pylintrc" examples/ca_handler/ || pylint-exit $?

      - name: "Linting with pycodestyle"
        run: |
          pip install pycodestyle
          pycodestyle --show-source examples/.
          pycodestyle --show-source acme_srv/.
