name: Documentation - Wiki Update
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run the workflow on'
        required: true
        default: 'main'
      run_id:
        description: 'Run ID of the producing workflow'
        required: true
        default: '0'
      sha:
        description: 'SHA of the commit to run the workflow on'
        required: true
        default: ''
      called_by_workflow:
        description: 'Name of the producing workflow'
        required: true
        default: 'manual-trigger'
      full_ref:
        description: 'Full git ref of the commit to run the workflow on'
        required: false
        default: ''
jobs:
  # ---------------------------------------------------------
  # Quick guard to validate incoming payload
  # ---------------------------------------------------------
  guard:
    runs-on: ubuntu-latest
    if: >
      ${{
        inputs.sha != '' &&
        inputs.run_id != '' &&
        inputs.branch != ''
      }} && github.repository == 'grindsa/acme2certifier'
    steps:
      - run: |
          echo "Triggered by SHA:    $SHA"
          echo "From branch:         $BRANCH"
          echo "Producer run_id:     $RUN_ID"
        env:
          SHA: ${{ inputs.sha }}
          BRANCH: ${{ inputs.branch }}
          RUN_ID: ${{ inputs.run_id }}


  wiki-update:
    runs-on: ubuntu-latest
    # Prevent workflows from running in forks
    needs: guard
    if: github.repository == 'grindsa/acme2certifier'  && inputs.branch == 'master'
    steps:
      - uses: actions/checkout@v1
      # Additional steps to generate documentation in "Documentation" directory
      - name: Upload docs to Wiki
        uses: grindsa/github-wiki-publish-action@customize_wiki_title
        with:
          path: "docs"
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      - name: Upload Docker to Wiki
        uses: grindsa/github-wiki-publish-action@customize_wiki_title
        with:
          path: "examples/Docker"
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
